Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

fix: clarify stat-badge variant semantics with proper type definitions
  frontend/src/components/ui/stat-badge.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add proper polymorphic typing to text-display component
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add auth service mocks to unit test setup
  backend/tests/setup/unit.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: update stat-badge and text-display component typing
  frontend/src/components/ui/stat-badge.tsx
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: improve textdisplay polymorphic component type safety
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: use centralized getstatusconfig in gamecard instead of hardcoded styles
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add return type, fix status colors and hovers in franchisedetail
  frontend/src/design-system/tokens/colors.ts
  frontend/src/lib/constants/status.ts
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/styles/tokens.css
  frontend/tailwind.config.js
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: use dedicated status-favorites token in gamedetail favorite button
  frontend/src/pages/GameDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: remove redundant hover states in library page
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to platformdetail backbutton
  frontend/src/pages/PlatformDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: replace text-base with semantic color in platforms page
  frontend/src/pages/Platforms.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: use cn() utility instead of template string in register page
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to seriesdetail image transition
  frontend/src/pages/SeriesDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add hono auth middleware with di
  backend/src/infrastructure/http/middleware/auth.middleware.ts
  backend/tests/setup/unit.setup.ts
  backend/tests/setup/unit.setup.ts.bak
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add database connection integration test
  backend/tests/integration/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: remove obsolete route integration tests
  backend/tests/integration/auth.routes.test.ts
  backend/tests/integration/games.routes.test.ts
  backend/tests/integration/import.routes.test.ts
  backend/tests/integration/rawg.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: format unit test setup
  backend/tests/setup/unit.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add duration-standard tokens to achievement widget transitions
  frontend/src/components/AchievementWidget.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: ensure rarity color tokens are properly defined
  frontend/src/styles/tokens.css
  frontend/tailwind.config.js
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: use cn() utility in collection filter button
  frontend/src/components/filters/CollectionFilter.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: use cn() for sidebar toggle button positioning
  frontend/src/components/layout/Sidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: remove conflicting hover styles from stop session button
  frontend/src/components/StartSessionButton.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: improve polymorphic typing in textdisplay component
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: resolve polymorphic typing errors in text-display
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: simplify status badge rendering in gamecard
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: update franchise detail status colors and transitions
  frontend/src/pages/FranchiseDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: replace invalid border-base token with border-border
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: remove unnecessary cn() wrapper in register form
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add visible hover state to series detail back link
  frontend/src/pages/SeriesDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: remove backup file and prevent future .bak commits
  .gitignore
  backend/tests/setup/unit.setup.ts.bak
Due: none

test: make mock user repository configurable for error path testing
  backend/tests/setup/unit.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add logger context chaining verification tests
  backend/tests/unit/infrastructure/logging/logger.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add negative integration test for database health check
  backend/tests/integration/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: remove misplaced integration test from unit tests
  backend/tests/unit/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: remove old test file
  backend/tests/integration/platforms.routes.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: improve import ordering and fix misleading test name
  backend/tests/integration/infrastructure/database/connection.test.ts
  backend/tests/unit/infrastructure/logging/logger.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: use cn() utility in achievement widget rarity breakdown
  frontend/src/components/AchievementWidget.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: simplify polymorphic component jsx in textdisplay
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: extract status config from iife in gamecard
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: update library link hover transition to duration-standard
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
