Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

refactor: update ai mock factories to accept overrides
  backend/src/tests/helpers/repository.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use generic unauthorized message in auth middleware
  backend/src/infrastructure/http/middleware/auth.middleware.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: add granular error handling and logger injection to ai controller
  backend/src/features/ai/controllers/ai.controller.ts
  backend/tests/unit/features/ai/controllers/ai.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add jsdoc to embedding repository and fix vector distance sql injection
  backend/src/features/ai/repositories/embedding.repository.interface.ts
  backend/src/features/ai/repositories/embedding.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: use ai provider type in gateway config
  backend/src/features/ai/types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: improve dto schemas and move response schemas to dto module
  backend/src/features/ai/controllers/ai.controller.ts
  backend/src/features/ai/dtos/ai.dto.ts
  backend/tests/unit/features/ai/controllers/ai.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: rename variables to aicontrollervariables and make user required
  backend/src/features/ai/controllers/ai.controller.interface.ts
  backend/src/features/ai/controllers/ai.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add missing test cases and improve test cleanup
  backend/tests/unit/features/ai/repositories/embedding.repository.test.ts
  backend/tests/unit/features/ai/services/curator.service.test.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add jsdoc to ai services
  backend/src/features/ai/services/embedding.service.ts
  backend/src/features/ai/services/gateway.service.ts
  backend/src/features/ai/services/image.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add patterns for logging, security, error handling, and testing
  CLAUDE.md
  backend/CLAUDE.md
Due: prettier --write

fix: allow short jwt secret in development mode
  backend/tests/unit/infrastructure/config/config.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove old integration test files and fix curator service logger injection
  backend/src/features/ai/services/curator.service.ts
  backend/tests/integration/auth.routes.test.ts
  backend/tests/integration/games.routes.test.ts
  backend/tests/integration/import.routes.test.ts
  backend/tests/integration/platforms.routes.test.ts
  backend/tests/integration/rawg.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(frontend): add self-hosted manrope variable font
  frontend/public/fonts/manrope-variable.woff2
  frontend/src/index.css
  frontend/src/styles/fonts.css
Due: none

feat(frontend): update tailwind config with new design tokens
  frontend/tailwind.config.js
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(frontend): add design system tokens and update theme
  frontend/src/index.css
  frontend/src/styles/theme.css
  frontend/src/styles/tokens.css
Due: none

feat(frontend): add design system typescript tokens
  frontend/src/design-system/index.ts
  frontend/src/design-system/tokens/colors.ts
  frontend/src/design-system/tokens/index.ts
  frontend/src/design-system/tokens/motion.ts
  frontend/src/design-system/tokens/spacing.ts
  frontend/src/design-system/tokens/typography.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): update input component with new design tokens
  frontend/src/components/ui/input.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: reformat
  frontend/src/components/ui/select-field.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/routeTree.gen.ts
  frontend/tailwind.config.js
  package-lock.json
  package.json
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): use data-highlighted for radix select keyboard navigation
  frontend/src/components/ui/select-field.tsx
  frontend/src/components/ui/select.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): replace duration-150 with duration-quick in switch component
  frontend/src/components/ui/switch.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): update status-button, switch, tabs, textarea, themetoggle with design tokens
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/ui/status-button.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): update ui components batch 1 with new design tokens
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/ClickableBadge.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/design-system/tokens/spacing.ts
  frontend/src/design-system/tokens/typography.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): extract shared auth error normalization helper
  frontend/src/lib/auth-errors.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): improve ui component consistency and accessibility
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/select-field.tsx
  frontend/src/components/ui/select.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): replace duration-150 with semantic duration-quick in command
  frontend/src/components/ui/command.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): replace text-bg-base with text-primary in tooltip
  frontend/src/components/ui/tooltip.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(frontend): add layouttoken type export for consistency
  frontend/src/design-system/tokens/spacing.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): add email field to registration form
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): move chart colors to design tokens
  frontend/src/styles/theme.css
  frontend/src/styles/tokens.css
Due: none

fix(frontend): use non-deprecated zod email validation syntax
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): update dialog component with new design tokens
  frontend/src/components/ui/dialog.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): use duration-quick in form control components
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/select-field.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): update popover, select, skeleton with design tokens
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select-field.tsx
  frontend/src/components/ui/select.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): handle zod validation error objects in auth forms
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(frontend): use duration-standard in alert-dialog and update docs
  frontend/CLAUDE.md
  frontend/src/components/ui/alert-dialog.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

refactor(frontend): migrate index.css from ctp-* to new design tokens
  frontend/src/index.css
Due: none

fix(frontend): make badge backlog variant consistent with other variants
  frontend/src/components/ui/Badge.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): replace removed button variants with new design system variants
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): rename colortokens type for clarity
  frontend/src/design-system/tokens/colors.ts
  frontend/src/design-system/tokens/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): add as const to easing object for type safety
  frontend/src/design-system/tokens/motion.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck
