Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

fix: improve zustand selectors and accessibility in settings and importigdb
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/__tests__/Settings.test.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(games): address code review feedback for repositories and tests
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/repositories/game.repository.ts
  backend/src/features/games/repositories/platform.repository.ts
  backend/src/features/games/repositories/store.repository.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/types.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/integration/features/games/games.integration.test.ts
  backend/tests/unit/features/games/repositories/game.repository.test.ts
  backend/tests/unit/features/games/repositories/platform.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: extract interceptor helpers and fix adapter types
  frontend/src/shared/api/__tests__/client.test.ts
  frontend/src/shared/api/adapters/__tests__/games.test.ts
  frontend/src/shared/api/adapters/games.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: replace credentials service with generated sdk functions
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add centralized error normalization utility
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add explicit return type annotations to credentials store
  frontend/src/shared/stores/credentialsStore.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add runtime type validation tests for games adapter
  frontend/src/shared/api/adapters/__tests__/games.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add explicit return type annotations to test setup
  frontend/src/test/setup.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: apply prettier formatting
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/credentials/components/__tests__/IGDBCredentialsForm.test.tsx
  frontend/src/features/import/components/GameSearchInput.tsx
  frontend/src/features/import/components/PlatformStoreSelector.tsx
  frontend/src/features/import/components/__tests__/GameSearchInput.test.tsx
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/pages/__tests__/ImportIGDB.test.tsx
  frontend/src/pages/__tests__/Settings.test.tsx
  frontend/src/shared/api/__tests__/client.test.ts
  frontend/src/test/mocks/credentials.ts
  frontend/src/test/mocks/games.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(games): address additional code review feedback
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/dtos/game.dto.ts
  backend/src/features/games/index.ts
  backend/src/features/games/repositories/platform.repository.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/infrastructure/http/openapi.ts
  backend/tests/unit/features/games/repositories/platform.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address coderabbit review feedback
  frontend/package.json
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/features/import/components/__tests__/GameSearchInput.test.tsx
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/features/library/hooks/useGames.ts
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/shared/api/__tests__/client.test.ts
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
  frontend/src/shared/types/__tests__/games.test.ts
  frontend/src/shared/types/games.ts
  frontend/src/shared/types/index.ts
  frontend/src/test/mocks/api.ts
  frontend/src/test/mocks/credentials.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(games): add 409 conflict responses and improve error detection
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): add 400 response to delete route for param validation
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address additional coderabbit review feedback
  frontend/package.json
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(games): add ownership check after update in user-games controller
  backend/src/features/games/controllers/games.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address coderabbit review feedback for frontend api integration
  CLAUDE.md
  frontend/CLAUDE.md
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/shared/types/games.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

fix: prettier issues
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/openapi.ts
  backend/src/tests/helpers/drizzle.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: prettier issues
  frontend/src/pages/ImportIGDB.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: implement B4 games domain with di architecture (#47)
  backend/drizzle/0030_wooden_photon.sql
  backend/drizzle/meta/0030_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/db/schema.ts
  backend/src/features/games/controllers/games.controller.interface.ts
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/dtos/game.dto.ts
  backend/src/features/games/dtos/index.ts
  backend/src/features/games/dtos/user-game.dto.ts
  backend/src/features/games/index.ts
  backend/src/features/games/repositories/game.repository.interface.ts
  backend/src/features/games/repositories/game.repository.ts
  backend/src/features/games/repositories/index.ts
  backend/src/features/games/repositories/platform.repository.interface.ts
  backend/src/features/games/repositories/platform.repository.ts
  backend/src/features/games/repositories/store.repository.interface.ts
  backend/src/features/games/repositories/store.repository.ts
  backend/src/features/games/repositories/user-game.repository.interface.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/services/game-metadata.service.interface.ts
  backend/src/features/games/services/game-metadata.service.ts
  backend/src/features/games/types.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/openapi.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/integration/features/games/games.integration.test.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/repositories/game.repository.test.ts
  backend/tests/unit/features/games/repositories/platform.repository.test.ts
  backend/tests/unit/features/games/repositories/store.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: replace raw tailwind colors with semantic design tokens
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: prettier issues
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: regenerate frontend sdk after merging main
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add sdk mock helpers for games endpoints
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(games): add user game progress dtos
  backend/src/features/games/dtos/index.ts
  backend/src/features/games/dtos/user-game-progress.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add type adapters for games sdk responses
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/adapters/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(games): add user game progress repository
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/games/repositories/index.ts
  backend/src/features/games/repositories/user-game-progress.repository.interface.ts
  backend/src/features/games/repositories/user-game-progress.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): add user game progress endpoints
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/dtos/user-game-progress.dto.ts
  backend/src/features/games/repositories/user-game-progress.repository.interface.ts
  backend/src/features/games/repositories/user-game-progress.repository.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: migrate gamesservice to use generated sdk
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(games): enhance delete with cascade for related data
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: update gamesservice tests for sdk migration
  frontend/src/shared/api/__tests__/services.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test(games): add unit tests for user game progress repository
  backend/tests/unit/features/games/repositories/user-game-progress.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(games): add integration tests for progress endpoints
  backend/src/features/games/repositories/user-game.repository.ts
  backend/tests/integration/features/games/games.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor(games): remove legacy routes/games.ts
  backend/src/index.ts
  backend/src/routes/games.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor(user-platforms): remove legacy routes/user-platforms.ts
  backend/src/index.ts
  backend/src/routes/user-platforms.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor(rawg): scope rawg service to achievements-only
  backend/src/services/rawg.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address code review feedback for api services
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/services.ts
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(openapi): require at least one field in custom fields body
  backend/openapi.json
Due: none

refactor(games): extract shared custom fields shape in dto
  backend/src/features/games/dtos/user-game-progress.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): add error translation and use sql now in progress repository
  backend/src/features/games/repositories/user-game-progress.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): move initial read inside transaction in delete method
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
