Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

feat(games): implement user game repository with library management
  backend/src/features/games/repositories/user-game.repository.interface.ts
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): correct parameter names to snake_case in user game repository
  backend/src/features/games/repositories/user-game.repository.interface.ts
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): implement platform and store repositories
  backend/src/features/games/repositories/index.ts
  backend/src/features/games/repositories/platform.repository.interface.ts
  backend/src/features/games/repositories/platform.repository.ts
  backend/src/features/games/repositories/store.repository.interface.ts
  backend/src/features/games/repositories/store.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): remove unnecessary and() wrapper and fix type assertion in store repository
  backend/src/features/games/repositories/store.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): implement game metadata service with igdb orchestration
  backend/src/container/tokens.ts
  backend/src/features/games/services/game-metadata.service.interface.ts
  backend/src/features/games/services/game-metadata.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: configure @hey-api/openapi-ts for api client generation
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
  frontend/tsconfig.eslint.json
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add api client wrapper with auth interceptors
  frontend/src/shared/api/__tests__/client.test.ts
  frontend/src/shared/api/client.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add api adapters for legacy response normalization
  frontend/src/shared/api/adapters/__tests__/games.test.ts
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/adapters/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add api services wrapper for typed requests
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: apply prettier formatting to api adapters
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/adapters/__tests__/games.test.ts
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/adapters/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add frontend game types for igdb schema
  frontend/src/shared/types/__tests__/games.test.ts
  frontend/src/shared/types/games.ts
  frontend/src/shared/types/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add tanstack query hooks for games
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/features/library/hooks/index.ts
  frontend/src/features/library/hooks/useGames.ts
  frontend/src/features/library/hooks/useSearchGames.ts
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/types/__tests__/games.test.ts
  frontend/src/shared/types/games.ts
  frontend/src/shared/types/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add credentials hooks and zustand store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/credentials/hooks/__tests__/useCredentials.test.tsx
  frontend/src/features/credentials/hooks/index.ts
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/features/library/hooks/useGames.ts
  frontend/src/shared/stores/credentialsStore.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add igdb credentials form component
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/credentials/components/__tests__/IGDBCredentialsForm.test.tsx
  frontend/src/features/credentials/components/index.ts
  frontend/src/features/credentials/hooks/__tests__/useCredentials.test.tsx
  frontend/src/shared/stores/credentialsStore.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add game search component with debouncing
  frontend/src/features/import/components/GameSearchInput.tsx
  frontend/src/features/import/components/__tests__/GameSearchInput.test.tsx
  frontend/src/features/import/components/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add platform and store selector for import
  frontend/src/features/import/components/PlatformStoreSelector.tsx
  frontend/src/features/import/components/__tests__/PlatformStoreSelector.test.tsx
  frontend/src/features/import/components/index.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(games): implement game and user-game dtos with zod validation
  backend/src/features/games/dtos/game.dto.ts
  backend/src/features/games/dtos/index.ts
  backend/src/features/games/dtos/user-game.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): implement games controller with 9 openapi routes
  backend/src/features/games/controllers/games.controller.interface.ts
  backend/src/features/games/controllers/games.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(games): add comprehensive unit tests for repositories, services, and controller
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/repositories/game.repository.test.ts
  backend/tests/unit/features/games/repositories/platform.repository.test.ts
  backend/tests/unit/features/games/repositories/store.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(games): add integration tests for complete games workflows
  backend/tests/integration/features/games/games.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore(games): register games feature in di container and regenerate openapi schema
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/games/services/game-metadata.service.interface.ts
  backend/src/features/games/services/game-metadata.service.ts
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add import flow page with igdb search and platform selector
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/import/components/GameSearchInput.tsx
  frontend/src/features/import/components/PlatformStoreSelector.tsx
  frontend/src/features/import/components/__tests__/PlatformStoreSelector.test.tsx
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/features/library/hooks/useGames.ts
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/pages/__tests__/ImportIGDB.test.tsx
  frontend/src/routes/import.tsx
  frontend/src/shared/api/services.ts
  frontend/src/test/setup.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(games): add user game with relations type and repository methods
  backend/src/features/games/repositories/user-game.repository.interface.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/types.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add credentials management section to settings page
  frontend/src/pages/Settings.tsx
  frontend/src/pages/__tests__/Settings.test.tsx
  frontend/src/routes/settings.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: apply prettier formatting to import page
  frontend/src/pages/ImportIGDB.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(games): remove progress and rating from user-game dtos
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/dtos/game.dto.ts
  backend/src/features/games/dtos/user-game.dto.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(platforms): use parentlogger pattern consistent with other controllers
  backend/src/features/platforms/controllers/platform.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: skip prebuild in docker since generated api files are committed
  frontend/Dockerfile
Due: none

chore(games): expand barrel exports to match credentials pattern
  backend/src/features/games/index.ts
  backend/src/features/platforms/controllers/platform.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): separate user-games routes into dedicated router
  backend/openapi.json
  backend/src/features/games/controllers/games.controller.interface.ts
  backend/src/features/games/controllers/games.controller.ts
  backend/src/infrastructure/http/app.ts
  backend/tests/integration/features/games/games.integration.test.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: correct zustand version to installable ^5.0.9
  frontend/package.json
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: improve igdbcredentialsform tests with shared mock helper
  frontend/src/features/credentials/components/__tests__/IGDBCredentialsForm.test.tsx
  frontend/src/test/mocks/credentials.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: clear status on input change and fix error message in credentials form
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: improve gamesearchinput tests with explicit return types
  frontend/src/features/import/components/__tests__/GameSearchInput.test.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: replace raw color classes with semantic tokens in gamesearchinput
  frontend/src/features/import/components/GameSearchInput.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add store validation and use semantic classes in platformstoreselector
  frontend/src/features/import/components/PlatformStoreSelector.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add mutation tests and shared mock helper for usegames
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/test/mocks/games.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add optimistic update for list cache in useupdategame
  frontend/src/features/library/hooks/useGames.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: pass abort signal to gamesservice.search for request cancellation
  frontend/src/features/library/hooks/useSearchGames.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: fix importigdb tests with explicit return types and cleanup
  frontend/src/pages/__tests__/ImportIGDB.test.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck
