Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

chore: upgrade postgres image to pgvector/pgvector:pg16
  docker-compose.yml
Due: none

fix: use inarray instead of raw sql any for genre queries
  backend/src/services/ai/embedding-jobs.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: fix prettier formatting
  backend/src/db/schema.ts
  backend/src/services/ai/embedding-jobs.ts
  backend/src/services/ai/embeddings-cache.ts
  backend/src/services/ai/embeddings.ts
  backend/src/services/ai/vector-search.ts
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
  docs/plans/2026-01-08-embeddings-infrastructure.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

feat: add embeddings infrastructure for ai features (#27)
  backend/bun.lock
  backend/drizzle/0018_early_micromax.sql
  backend/drizzle/0019_bored_hammerhead.sql
  backend/drizzle/0020_optimal_talkback.sql
  backend/drizzle/0021_oval_mandrill.sql
  backend/drizzle/meta/0018_snapshot.json
  backend/drizzle/meta/0019_snapshot.json
  backend/drizzle/meta/0020_snapshot.json
  backend/drizzle/meta/0021_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/package.json
  backend/src/db/schema.ts
  backend/src/routes/ai.ts
  backend/src/services/ai/embedding-jobs.ts
  backend/src/services/ai/embeddings-cache.ts
  backend/src/services/ai/embeddings.ts
  backend/src/services/ai/service.ts
  backend/src/services/ai/vector-search.ts
  docker-compose.yml
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
  docs/plans/2026-01-08-embeddings-infrastructure.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

docs: add phase 3 rag integration implementation plan
  docs/plans/2026-01-08-rag-integration.md
Due: prettier --write

feat: add smart game selection with diverse sampling
  backend/src/services/ai/game-selection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add user preference learning and embedding generation
  backend/src/services/ai/preference-learning.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add duplicate collection detection with similarity threshold
  backend/src/services/ai/duplicate-detection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add rag-aware prompt builders with semantic context
  backend/src/services/ai/prompts.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: integrate rag with semantic search and smart sampling
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add duplicate collection detection endpoint
  backend/src/routes/collections.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: enhance preference learning with playtime, franchises, and favorites
  backend/src/services/ai/preference-learning.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: formatting
  backend/src/services/ai/game-selection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: rag integration with semantic search (#28)
  backend/src/routes/collections.ts
  backend/src/services/ai/duplicate-detection.ts
  backend/src/services/ai/game-selection.ts
  backend/src/services/ai/preference-learning.ts
  backend/src/services/ai/prompts.ts
  backend/src/services/ai/service.ts
  docs/plans/2026-01-08-rag-integration.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

docs: add phase 1 auth migration implementation plan
  docs/plans/2026-01-09-phase1-auth-migration-plan.md
Due: prettier --write

docs: add phase 4 smart model routing implementation plan
  docs/plans/2026-01-09-smart-model-routing.md
Due: prettier --write

feat: add model routing settings to user ai settings
  backend/drizzle/0022_pink_zaran.sql
  backend/drizzle/meta/0022_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add model router service with task-based selection
  backend/src/services/ai/model-router.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address code quality issues in model router
  backend/src/services/ai/model-router.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: integrate model router into suggestCollections
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add gpt-5 model costs for accurate cost tracking
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: integrate model router into suggestNextGame
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: integrate model router into generateCollectionCover
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add missing image model costs for accurate cost tracking
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add model routing settings api endpoint
  backend/src/routes/ai.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add provider constraint to model routing settings update
  backend/src/routes/ai.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add vercel ai gateway implementation plan
  docs/plans/2026-01-09-vercel-ai-gateway.md
Due: prettier --write

feat: add xai sdk for multi-provider support
  backend/bun.lock
  backend/package.json
Due: none

feat: add xai provider to database schema
  backend/drizzle/0023_redundant_mister_fear.sql
  backend/drizzle/meta/0023_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create provider registry service for multi-provider support
  backend/src/services/ai/provider-registry.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: integrate provider registry for multi-provider model access
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add api endpoints for xai credentials management
  backend/src/routes/ai.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: replace xai columns with gateway credential column
  backend/drizzle/0024_gateway_refactor.sql
  backend/drizzle/meta/0024_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: replace provider registry with gateway function
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: replace xai endpoints with gateway credential endpoint
  backend/src/routes/ai.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: remove unused provider registry module
  backend/src/services/ai/provider-registry.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: remove xai sdk dependency
  backend/bun.lock
  backend/package.json
Due: none

docs: add gateway refactor verification results
  docs/testing/gateway-refactor-verification.md
Due: prettier --write

chore: remove plan files
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
  docs/plans/2026-01-08-embeddings-infrastructure.md
  docs/plans/2026-01-08-rag-integration.md
  docs/plans/2026-01-09-phase1-auth-migration-plan.md
  docs/plans/2026-01-09-smart-model-routing.md
  docs/plans/2026-01-09-vercel-ai-gateway.md
Due: prettier --write

Feat/smart model routing (#29)
  backend/drizzle/0022_pink_zaran.sql
  backend/drizzle/0023_redundant_mister_fear.sql
  backend/drizzle/0024_gateway_refactor.sql
  backend/drizzle/meta/0022_snapshot.json
  backend/drizzle/meta/0023_snapshot.json
  backend/drizzle/meta/0024_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/routes/ai.ts
  backend/src/services/ai/model-router.ts
  backend/src/services/ai/service.ts
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
  docs/plans/2026-01-08-embeddings-infrastructure.md
  docs/plans/2026-01-08-rag-integration.md
  docs/plans/2026-01-09-phase1-auth-migration-plan.md
  docs/plans/2026-01-09-smart-model-routing.md
  docs/testing/gateway-refactor-verification.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write
