Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

fix: sync frontend lockfile
  frontend/package-lock.json
  frontend/package.json
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: tighten auth openapi and error specs
  backend/src/features/auth/controllers/auth.controller.interface.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/src/lib/api/auth.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: upgrade openapi codegen
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api/auth.ts
  frontend/src/shared/api/generated/client.gen.ts
  frontend/src/shared/api/generated/client/client.gen.ts
  frontend/src/shared/api/generated/client/index.ts
  frontend/src/shared/api/generated/client/types.gen.ts
  frontend/src/shared/api/generated/client/utils.gen.ts
  frontend/src/shared/api/generated/core/auth.gen.ts
  frontend/src/shared/api/generated/core/bodySerializer.gen.ts
  frontend/src/shared/api/generated/core/params.gen.ts
  frontend/src/shared/api/generated/core/pathSerializer.gen.ts
  frontend/src/shared/api/generated/core/queryKeySerializer.gen.ts
  frontend/src/shared/api/generated/core/serverSentEvents.gen.ts
  frontend/src/shared/api/generated/core/types.gen.ts
  frontend/src/shared/api/generated/core/utils.gen.ts
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: assert openapi security scheme
  backend/tests/unit/infrastructure/http/openapi.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: bump hono for security
  backend/bun.lock
  backend/package.json
Due: none

chore: remove legacy auth routes
  backend/src/index.ts
  backend/src/routes/auth.ts
  frontend/src/lib/api/axios.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: remove legacy auth routes (#38)
  backend/src/index.ts
  backend/src/routes/auth.ts
  frontend/src/lib/api/axios.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add platforms repository
  backend/src/features/platforms/repositories/platform.repository.interface.ts
  backend/src/features/platforms/repositories/platform.repository.ts
  backend/src/features/platforms/types.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/unit/features/platforms/repositories/platform.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add platforms service
  backend/src/features/platforms/dtos/platform.dto.ts
  backend/src/features/platforms/services/platform.service.interface.ts
  backend/src/features/platforms/services/platform.service.ts
  backend/tests/unit/features/platforms/services/platform.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add platforms controller
  backend/src/features/platforms/controllers/platform.controller.interface.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/tests/unit/features/platforms/controllers/platform.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: wire platforms routes
  backend/src/container/index.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/infrastructure/http/app.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: stabilize auth controller setup
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: fix platforms test typing
  backend/tests/unit/features/platforms/controllers/platform.controller.test.ts
  backend/tests/unit/features/platforms/repositories/platform.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: expand openapi unit assertions
  backend/tests/unit/infrastructure/http/openapi.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: formatting + openapi.json file
  backend/openapi.json
  backend/src/features/platforms/controllers/platform.controller.interface.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/features/platforms/dtos/platform.dto.ts
  backend/src/features/platforms/repositories/platform.repository.interface.ts
  backend/src/features/platforms/repositories/platform.repository.ts
  backend/src/features/platforms/services/platform.service.interface.ts
  backend/src/features/platforms/services/platform.service.ts
  backend/src/features/platforms/types.ts
  backend/tests/unit/features/platforms/services/platform.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add platforms integration coverage
  backend/tests/integration/features/platforms/platforms.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: coderabbit issues
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/auth/repositories/user.repository.ts
  backend/src/features/auth/services/auth.service.ts
  backend/src/features/auth/services/password-hasher.ts
  backend/src/features/auth/services/token.service.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/features/platforms/dtos/platform.dto.ts
  backend/src/features/platforms/repositories/platform.repository.interface.ts
  backend/src/features/platforms/repositories/platform.repository.ts
  backend/src/features/platforms/services/platform.service.interface.ts
  backend/src/features/platforms/services/platform.service.ts
  backend/src/index.ts
  backend/src/infrastructure/database/connection.ts
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/middleware/auth.middleware.ts
  backend/src/lib/encryption.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/cors.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/integration/features/platforms/platforms.integration.test.ts
  backend/tests/setup/unit.setup.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
  backend/tests/unit/features/platforms/controllers/platform.controller.test.ts
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: coderabbit new issues
  backend/src/features/platforms/repositories/platform.repository.interface.ts
  backend/src/features/platforms/repositories/platform.repository.ts
  backend/src/infrastructure/http/middleware/auth.middleware.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: platforms feature into DI (#39)
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/auth/repositories/user.repository.ts
  backend/src/features/auth/services/auth.service.ts
  backend/src/features/auth/services/password-hasher.ts
  backend/src/features/auth/services/token.service.ts
  backend/src/features/platforms/controllers/platform.controller.interface.ts
  backend/src/features/platforms/controllers/platform.controller.ts
  backend/src/features/platforms/dtos/platform.dto.ts
  backend/src/features/platforms/repositories/platform.repository.interface.ts
  backend/src/features/platforms/repositories/platform.repository.ts
  backend/src/features/platforms/services/platform.service.interface.ts
  backend/src/features/platforms/services/platform.service.ts
  backend/src/features/platforms/types.ts
  backend/src/index.ts
  backend/src/infrastructure/database/connection.ts
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/middleware/auth.middleware.ts
  backend/src/lib/encryption.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/cors.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/integration/features/platforms/platforms.integration.test.ts
  backend/tests/setup/unit.setup.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
  backend/tests/unit/features/platforms/controllers/platform.controller.test.ts
  backend/tests/unit/features/platforms/repositories/platform.repository.test.ts
  backend/tests/unit/features/platforms/services/platform.service.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: create user-platforms types and tokens
  backend/src/container/tokens.ts
  backend/src/features/user-platforms/types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove semicolons from user-platforms tokens (project style)
  backend/src/container/tokens.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create user-platforms repository interface and unit tests
  backend/src/features/user-platforms/repositories/user-platforms.repository.interface.ts
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: rewrite repository tests to follow project testing patterns
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add missing error imports to repository tests
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: restore simple unit test approach for repository interface
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement user-platforms repository layer with drizzle orm
  backend/src/features/user-platforms/repositories/user-platforms.repository.ts
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create user-platforms service interface and comprehensive unit tests
  backend/src/features/user-platforms/services/user-platforms.service.interface.ts
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: improve error test patterns to use expect rejects instead of try-catch
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement user-platforms service layer with business logic
  backend/src/features/user-platforms/services/user-platforms.service.ts
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create user-platforms dtos with zod schemas
  backend/src/features/user-platforms/dtos/user-platforms.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: complete user-platforms controller interface, tests, and implementation
  backend/src/features/user-platforms/controllers/user-platforms.controller.interface.ts
  backend/src/features/user-platforms/controllers/user-platforms.controller.ts
  backend/src/features/user-platforms/repositories/user-platforms.repository.interface.ts
  backend/src/features/user-platforms/types.ts
  backend/tests/unit/features/user-platforms/controllers/user-platforms.controller.test.ts
  backend/tests/unit/features/user-platforms/repositories/user-platforms.repository.test.ts
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: register user-platforms in di container and hono app
  backend/src/container/index.ts
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create user-platforms integration tests and fix logger dependency injection
  backend/src/features/user-platforms/controllers/user-platforms.controller.ts
  backend/src/features/user-platforms/services/user-platforms.service.ts
  backend/tests/integration/features/user-platforms/user-platforms.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: generate openapi schema for user-platforms api
  backend/openapi.json
Due: none

test: fix user-platforms integration tests to use valid uuid formats
  backend/tests/integration/features/user-platforms/user-platforms.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add comprehensive user-platforms feature documentation
  docs/user-platforms.md
Due: prettier --write

docs: add user-platforms documentation to index
  docs/CLAUDE.md
Due: prettier --write

fix: correct logger types in user-platforms unit tests for typecheck
  backend/tests/unit/features/user-platforms/controllers/user-platforms.controller.test.ts
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: improve user-platforms implementation with strong typing, atomic operations, and documentation
  backend/openapi.json
  backend/src/features/user-platforms/controllers/user-platforms.controller.interface.ts
  backend/src/features/user-platforms/controllers/user-platforms.controller.ts
  backend/src/features/user-platforms/repositories/user-platforms.repository.ts
  backend/tests/integration/features/user-platforms/user-platforms.integration.test.ts
  backend/tests/unit/features/user-platforms/services/user-platforms.service.test.ts
  docs/user-platforms.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write
