Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

fix: standardize credentials validation response to use is_valid field
  backend/openapi.json
  backend/src/features/credentials/dtos/credentials.dto.ts
  backend/src/features/credentials/services/credential.service.interface.ts
  backend/src/features/credentials/services/credential.service.ts
  backend/tests/integration/features/credentials/credentials.integration.test.ts
  backend/tests/integration/integrations/igdb/igdb.integration.test.ts
  backend/tests/unit/features/credentials/controllers/credential.controller.test.ts
  backend/tests/unit/features/credentials/services/credential.service.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
  frontend/src/features/credentials/hooks/__tests__/useCredentials.test.tsx
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: standardize credentials validation response to use is_valid field (#53)
  backend/openapi.json
  backend/src/features/credentials/dtos/credentials.dto.ts
  backend/src/features/credentials/services/credential.service.interface.ts
  backend/src/features/credentials/services/credential.service.ts
  backend/tests/integration/features/credentials/credentials.integration.test.ts
  backend/tests/integration/integrations/igdb/igdb.integration.test.ts
  backend/tests/unit/features/credentials/controllers/credential.controller.test.ts
  backend/tests/unit/features/credentials/services/credential.service.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
  frontend/src/features/credentials/hooks/__tests__/useCredentials.test.tsx
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(schema): add achievement_source_api enum and update achievements table
  backend/drizzle/0031_first_morg.sql
  backend/drizzle/meta/0031_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(schema): add steam_app_id and retro_game_id to games table
  backend/drizzle/0032_abnormal_hydra.sql
  backend/drizzle/meta/0032_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): add steam_app_id and retro_game_id to types
  backend/src/features/games/dtos/game.dto.ts
  backend/src/features/games/dtos/user-game.dto.ts
  backend/src/features/games/repositories/game.repository.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/types.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(games): add steam app id and retro game id finder methods to repository
  backend/src/features/games/repositories/game.repository.interface.ts
  backend/src/features/games/repositories/game.repository.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/services/game-metadata.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: regenerate openapi spec with new game fields
  backend/openapi.json
Due: none

chore: add steamapi dependency
  backend/bun.lock
  backend/package.json
Due: none

feat(steam): add steam api types
  backend/src/integrations/steam/steam.types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): add isteamservice interface
  backend/src/integrations/steam/steam.service.interface.ts
  backend/src/integrations/steam/steam.types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): implement steam service with openid and api integration
  backend/src/integrations/steam/steam.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): add steam controller dtos
  backend/src/integrations/steam/steam.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): add steam controller with oauth and sync routes
  backend/src/container/tokens.ts
  backend/src/integrations/steam/steam.controller.interface.ts
  backend/src/integrations/steam/steam.controller.ts
  backend/src/integrations/steam/steam.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): register steam service and controller in di container
  backend/src/container/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): mount steam routes at /api/v1/steam
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(steam): add barrel export for steam integration
  backend/src/integrations/steam/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(steam): add steam test fixtures
  backend/src/tests/helpers/steam.fixtures.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(steam): add createmocksteamservice helper
  backend/src/tests/helpers/repository.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(steam): add steamservice unit tests
  backend/tests/unit/integrations/steam/steam.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(steam): add steam controller unit tests
  backend/tests/unit/integrations/steam/steam.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: add @retroachievements/api dependency
  backend/bun.lock
  backend/package.json
Due: none

feat(retroachievements): add retroachievements types
  backend/src/integrations/retroachievements/retroachievements.types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): add iretroachievementsservice interface
  backend/src/integrations/retroachievements/retroachievements.service.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): implement retroachievementsservice
  backend/src/integrations/retroachievements/retroachievements.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): add controller dtos
  backend/src/integrations/retroachievements/retroachievements.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): add retroachievements controller
  backend/src/container/tokens.ts
  backend/src/integrations/retroachievements/retroachievements.controller.interface.ts
  backend/src/integrations/retroachievements/retroachievements.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): register service and controller in di container
  backend/src/container/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): mount routes at /api/v1/retroachievements
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(retroachievements): add barrel export
  backend/src/integrations/retroachievements/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(retroachievements): add test fixtures
  backend/src/tests/helpers/retroachievements.fixtures.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(retroachievements): add mock helper for service
  backend/src/tests/helpers/repository.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(achievements): add repository interface and implementation
  backend/src/container/tokens.ts
  backend/src/features/achievements/repositories/achievement.repository.interface.ts
  backend/src/features/achievements/repositories/achievement.repository.ts
  backend/src/features/achievements/repositories/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(achievements): add service interface and implementation
  backend/src/container/tokens.ts
  backend/src/features/achievements/services/achievement.service.interface.ts
  backend/src/features/achievements/services/achievement.service.ts
  backend/src/features/achievements/services/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(achievements): add achievement controller and integration tests
  backend/.env.example
  backend/CLAUDE.md
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/achievements/controllers/achievement.controller.interface.ts
  backend/src/features/achievements/controllers/achievement.controller.ts
  backend/src/features/achievements/dtos/achievement.dto.ts
  backend/src/features/achievements/repositories/achievement.repository.interface.ts
  backend/src/features/achievements/repositories/achievement.repository.ts
  backend/src/features/achievements/repositories/index.ts
  backend/src/features/achievements/services/achievement.service.interface.ts
  backend/src/features/achievements/services/achievement.service.ts
  backend/src/features/achievements/services/index.ts
  backend/src/infrastructure/http/app.ts
  backend/src/integrations/retroachievements/index.ts
  backend/src/integrations/retroachievements/retroachievements.service.interface.ts
  backend/src/integrations/retroachievements/retroachievements.service.ts
  backend/src/integrations/retroachievements/retroachievements.types.ts
  backend/src/integrations/steam/index.ts
  backend/src/integrations/steam/steam.controller.interface.ts
  backend/src/integrations/steam/steam.controller.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/src/tests/helpers/retroachievements.fixtures.ts
  backend/tests/integration/features/achievements/achievements.integration.test.ts
  backend/tests/integration/integrations/retroachievements/retroachievements.integration.test.ts
  backend/tests/integration/integrations/steam/steam.integration.test.ts
  backend/tests/unit/integrations/steam/steam.controller.test.ts
  docs/steam-retroachievements-integration.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

fix: address code review feedback for steam and retroachievements integration
  backend/src/features/achievements/controllers/achievement.controller.ts
  backend/src/features/achievements/dtos/achievement.dto.ts
  backend/src/features/achievements/repositories/achievement.repository.interface.ts
  backend/src/features/achievements/repositories/achievement.repository.ts
  backend/src/features/achievements/services/achievement.service.ts
  backend/src/features/achievements/types.ts
  backend/src/features/games/repositories/game.repository.interface.ts
  backend/src/features/games/repositories/game.repository.ts
  backend/src/integrations/retroachievements/retroachievements.controller.ts
  backend/src/integrations/retroachievements/retroachievements.service.ts
  backend/src/integrations/steam/steam.controller.ts
  backend/src/integrations/steam/steam.service.interface.ts
  backend/src/integrations/steam/steam.service.ts
  backend/src/integrations/steam/steam.types.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/tests/integration/features/achievements/achievements.integration.test.ts
  backend/tests/integration/integrations/retroachievements/retroachievements.integration.test.ts
  backend/tests/integration/integrations/steam/steam.integration.test.ts
  backend/tests/unit/integrations/steam/steam.controller.test.ts
  backend/tests/unit/integrations/steam/steam.service.test.ts
  docs/steam-retroachievements-integration.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

fix: address additional code review feedback
  backend/openapi.json
  backend/src/features/achievements/repositories/achievement.repository.interface.ts
  backend/src/features/achievements/repositories/achievement.repository.ts
  backend/src/features/achievements/services/achievement.service.ts
  backend/src/features/achievements/types.ts
  backend/src/integrations/retroachievements/retroachievements.controller.ts
  backend/src/integrations/retroachievements/retroachievements.service.ts
  backend/src/integrations/steam/steam.service.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/src/tests/helpers/steam.fixtures.ts
  backend/tests/integration/features/achievements/achievements.integration.test.ts
  docs/steam-retroachievements-integration.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

fix: wrap achievement upserts in transaction and remove duplicate validation
  backend/src/features/achievements/repositories/achievement.repository.interface.ts
  backend/src/features/achievements/repositories/achievement.repository.ts
  backend/src/features/achievements/services/achievement.service.ts
  backend/src/integrations/retroachievements/retroachievements.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove unused 422 response from retroachievements sync route
  backend/openapi.json
  backend/src/integrations/retroachievements/retroachievements.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove redundant game_id from sync request and change library to post
  backend/openapi.json
  backend/src/features/achievements/controllers/achievement.controller.ts
  backend/src/features/achievements/dtos/achievement.dto.ts
  backend/src/integrations/steam/steam.controller.ts
  backend/tests/integration/features/achievements/achievements.integration.test.ts
  backend/tests/integration/integrations/retroachievements/retroachievements.integration.test.ts
  backend/tests/integration/integrations/steam/steam.integration.test.ts
  backend/tests/unit/integrations/steam/steam.controller.test.ts
  docs/steam-retroachievements-integration.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

refactor: clean up steam controller and improve test coverage
  backend/src/integrations/steam/steam.controller.ts
  backend/tests/integration/integrations/steam/steam.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck
