Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(frontend): add shadcn ui components
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/ClickableBadge.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/combobox.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/form-field.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
Due: none

feat(frontend): add tanstack query hooks for data fetching
  frontend/src/hooks/useAIModels.ts
  frontend/src/hooks/useAISettings.ts
  frontend/src/hooks/useAchievementStats.ts
  frontend/src/hooks/useActivityFeed.ts
  frontend/src/hooks/useCollectionMutations.ts
  frontend/src/hooks/useCollections.ts
  frontend/src/hooks/useFranchises.ts
  frontend/src/hooks/useGameMutations.ts
  frontend/src/hooks/useGameSummaries.ts
  frontend/src/hooks/useGames.ts
  frontend/src/hooks/useGenreStats.ts
  frontend/src/hooks/usePlatforms.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/hooks/useSearchData.tsx
  frontend/src/hooks/useUserPlatforms.ts
  frontend/src/hooks/useUserPreferences.ts
Due: none

chore: add eslint configuration for frontend
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.eslint.json
Due: prettier --write

chore: add frontend lint to ci and update docs
  .github/workflows/ci.yml
  .lintstagedrc.json
  CLAUDE.md
  frontend/CLAUDE.md
  package.json
Due: prettier --write

feat(frontend): add layout components and error boundary
  frontend/src/components/AuthRedirectListener.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/BackButton.tsx
  frontend/src/components/layout/BackToTopButton.tsx
  frontend/src/components/layout/LayoutContext.tsx
  frontend/src/components/layout/MobileNav.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/layout/PageLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/index.ts
Due: none

fix: add missing typecheck on lintstaged
  .lintstagedrc.json
Due: prettier --write

fix: use upsert for games and genres in franchise sync
  backend/src/routes/franchises.ts
Due: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use upsert for games and genres in franchise sync (#15)
  backend/src/routes/franchises.ts
Due: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor(frontend): update contexts to use new api modules
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/contexts/ThemeContext.tsx
Due: none

refactor(frontend): update filter and sidebar components
  frontend/src/components/filters/ActiveFilterPills.tsx
  frontend/src/components/filters/CollectionFilter.tsx
  frontend/src/components/filters/FilterSection.tsx
  frontend/src/components/filters/FranchiseFilter.tsx
  frontend/src/components/filters/GenreFilter.tsx
  frontend/src/components/filters/SortControl.tsx
  frontend/src/components/sidebar/CollectionDetailSidebar.tsx
  frontend/src/components/sidebar/CollectionsSidebar.tsx
  frontend/src/components/sidebar/DashboardSidebar.tsx
  frontend/src/components/sidebar/FranchiseDetailSidebar.tsx
  frontend/src/components/sidebar/FranchisesSidebar.tsx
  frontend/src/components/sidebar/GameDetailSidebar.tsx
  frontend/src/components/sidebar/ImportSidebar.tsx
  frontend/src/components/sidebar/LibrarySidebar.tsx
  frontend/src/components/sidebar/PlatformDetailSidebar.tsx
  frontend/src/components/sidebar/PlatformOnboardingSidebar.tsx
  frontend/src/components/sidebar/PlatformsSidebar.tsx
Due: none

refactor(frontend): update feature components to use shadcn
  frontend/src/components/ActivityFeed.tsx
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/AddToCollection.tsx
  frontend/src/components/CustomFieldsEditor.tsx
  frontend/src/components/CustomPlatformModal.tsx
  frontend/src/components/EditionOwnership.tsx
  frontend/src/components/EditionSwitcher.tsx
  frontend/src/components/GameAchievements.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/PlaySessionTracker.tsx
  frontend/src/components/ProgressHistory.tsx
  frontend/src/components/RawgIdCorrection.tsx
  frontend/src/components/SessionsHistory.tsx
  frontend/src/components/StartSessionButton.tsx
Due: none

refactor(frontend): update routes with loaders and validation
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/_not-found.tsx
  frontend/src/routes/activity.tsx
  frontend/src/routes/ai-curator.tsx
  frontend/src/routes/collections.$id.tsx
  frontend/src/routes/collections.index.tsx
  frontend/src/routes/collections.series.$seriesName.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/routes/franchises.$seriesName.tsx
  frontend/src/routes/franchises.index.tsx
  frontend/src/routes/import.tsx
  frontend/src/routes/library.$id.tsx
  frontend/src/routes/library.index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/platforms.$id.tsx
  frontend/src/routes/platforms.index.tsx
  frontend/src/routes/platforms.onboarding.tsx
  frontend/src/routes/register.tsx
  frontend/src/routes/settings.tsx
Due: none

refactor(frontend): update pages to use hooks and shadcn components
  frontend/src/pages/AICurator.tsx
  frontend/src/pages/Activity.tsx
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Import.tsx
  frontend/src/pages/Library.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PlatformDetail.tsx
  frontend/src/pages/PlatformOnboarding.tsx
  frontend/src/pages/Platforms.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/Settings.tsx
Due: none

feat(frontend): add shadcn css variables and catppuccin mapping
  frontend/src/index.css
  frontend/src/styles/theme.css
  frontend/tailwind.config.js
Due: none

docs: update documentation for shadcn migration
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/frontend-architecture.md
  frontend/CLAUDE.md
Due: prettier --write

refactor(frontend): centralize status configuration system
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/status-button.tsx
  frontend/src/lib/constants/status.ts
Due: none

refactor(frontend): migrate shadcn components to catppuccin theme
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/form-field.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/index.css
  frontend/src/styles/theme.css
Due: none

refactor(frontend): simplify sidebars with status button component
  frontend/src/components/sidebar/AICuratorSidebar.tsx
  frontend/src/components/sidebar/CollectionDetailSidebar.tsx
  frontend/src/components/sidebar/CollectionsSidebar.tsx
  frontend/src/components/sidebar/DashboardSidebar.tsx
  frontend/src/components/sidebar/FranchisesSidebar.tsx
  frontend/src/components/sidebar/LibrarySidebar.tsx
Due: none

feat(frontend): improve responsive layout and navigation
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/MobileNav.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/main.tsx
Due: none

refactor(frontend): enhance auth flow and route guards
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useUserPlatforms.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/axios.ts
  frontend/src/lib/onboarding.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/dashboard.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/platforms.onboarding.tsx
  frontend/src/routes/register.tsx
Due: none

feat(frontend): improve page layouts and user experience
  frontend/src/components/AchievementWidget.tsx
  frontend/src/components/EditionOwnership.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/PlatformIcon.tsx
  frontend/src/components/filters/FilterSection.tsx
  frontend/src/components/filters/SortControl.tsx
  frontend/src/pages/Activity.tsx
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/Franchises.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PlatformOnboarding.tsx
  frontend/src/pages/Platforms.tsx
  frontend/src/pages/Register.tsx
Due: none

docs: update documentation for shadcn migration and architecture changes
  CONTRIBUTING.md
  docs/frontend-architecture.md
  frontend/CLAUDE.md
Due: prettier --write

feat: increase selection bar and component heights
  frontend/src/components/ui/select.tsx
  frontend/src/pages/Library.tsx
Due: none

feat: increase selection bar and component heights (#18)
  frontend/src/components/ui/select.tsx
  frontend/src/pages/Library.tsx
Due: none

fix: improve button hover visibility in dark mode
  frontend/src/components/layout/BackToTopButton.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/status-button.tsx
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: none

fix: formatting with prettier
  frontend/src/components/ui/button.tsx
  frontend/src/pages/FranchiseDetail.tsx
Due: none

fix: improve button hover visibility in dark mode (#19)
  frontend/src/components/layout/BackToTopButton.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/status-button.tsx
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: none

fix: enable multi-selection in import game dialog
  frontend/src/pages/Import.tsx
Due: none

fix: enable multi-selection in import game dialog (#20)
  frontend/src/pages/Import.tsx
Due: none

feat: add confirmation modal to import flow
  frontend/src/pages/Import.tsx
Due: none

feat: add confirmation modal to import flow (#21)
  frontend/src/pages/Import.tsx
Due: none

fix: invalidate collection cache when deleting games from library
  backend/src/routes/games.ts
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: invalidate collection cache when deleting games from library (#22)
  backend/src/routes/games.ts
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: simplify ai providers to openai only
  backend/CLAUDE.md
  backend/drizzle/0017_watery_karnak.sql
  backend/drizzle/meta/0017_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/routes/ai.ts
  backend/src/services/ai/models.ts
  backend/src/services/ai/service.ts
Due: prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

Path conditions:
  prettier --write: (any of: backend/**/*.{ts,js}) or (any of: *.{json,md})
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
