Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

refactor: create iauth controller interface for consistent di pattern
  backend/src/container/index.ts
  backend/src/features/auth/controllers/auth.controller.interface.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: enforce jwt secret minimum length in all environments
  backend/.env.example
  backend/src/infrastructure/config/config.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: update test config secrets to meet production validation requirements
  backend/tests/unit/helpers/make-test-config.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: validate password utf-8 byte length instead of character count
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: update password-hasher test comment to reflect 32-character dto limit
  backend/src/infrastructure/database/connection.ts
  backend/tests/unit/features/auth/services/password-hasher.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: update zod schemas to v4 error message syntax
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: extract password validation into reusable schema constant
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove pii from auth service logger calls
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: formatting
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: prevent timing attack username enumeration in login method
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add observability to token validation method
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: clarify password-hasher test to document bcrypt truncation edge case
  backend/tests/unit/features/auth/services/password-hasher.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: remove redundant exists check in register method
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: remove redundant debug log from token validation catch
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use valid bcrypt hash for timing attack mitigation and enhance error logging
  backend/src/features/auth/services/auth.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: claude and formatting for files (will be improved later)
  CLAUDE.md
Due: prettier --write

chore: improve claude files
  CLAUDE.md
Due: prettier --write

fix: missing / on .gitignore
  .gitignore
Due: none

fix: use toctou-safe pattern in auth service conflict test
  backend/tests/unit/features/auth/services/auth.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: update local setup and gh actions
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  .github/workflows/pr-title.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  backend/CLAUDE.md
  docs/CLAUDE.md
  docs/local-setup.md
  docs/release-process.md
  frontend/CLAUDE.md
  justfile
  package.json
Due: prettier --write

fix: add missing variables to test jobs
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
Due: none

fix: tests on ci
  backend/src/infrastructure/config/config.ts
  backend/tests/unit/helpers/make-test-config.ts
  backend/tests/unit/infrastructure/config/config.test.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: code rabbit issues
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  README.md
  backend/tests/unit/infrastructure/database/connection.test.ts
  docs/release-process.md
  justfile
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

fix: gh actions and formatting
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
  backend/tests/unit/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: coderabbit issues
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
  docs/release-process.md
Due: prettier --write

fix: docs and ci errors
  .github/workflows/ci.yml
  docs/release-process.md
Due: prettier --write

chore: update local setup and gh actions (#32)
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  .github/workflows/pr-title.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  backend/CLAUDE.md
  backend/src/infrastructure/config/config.ts
  backend/tests/unit/features/auth/services/auth.service.test.ts
  backend/tests/unit/helpers/make-test-config.ts
  backend/tests/unit/infrastructure/config/config.test.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
  docs/CLAUDE.md
  docs/local-setup.md
  docs/release-process.md
  frontend/CLAUDE.md
  justfile
  package.json
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

feat(ai): implement embedding service with gateway
  backend/src/features/ai/services/embedding.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: use authenticated user in ai controller
  backend/src/features/ai/controllers/ai.controller.interface.ts
  backend/src/features/ai/controllers/ai.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: remove legacy ai services for full rewrite
  backend/src/index.ts
  backend/src/routes/ai.ts
  backend/src/routes/collections.ts
  backend/src/services/ai/cache.ts
  backend/src/services/ai/duplicate-detection.ts
  backend/src/services/ai/embedding-jobs.ts
  backend/src/services/ai/embeddings-cache.ts
  backend/src/services/ai/embeddings.ts
  backend/src/services/ai/game-selection.ts
  backend/src/services/ai/model-router.ts
  backend/src/services/ai/models.ts
  backend/src/services/ai/preference-learning.ts
  backend/src/services/ai/prompts.ts
  backend/src/services/ai/service.ts
  backend/src/services/ai/vector-search.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(ai): add mock factories for ai domain
  backend/src/tests/helpers/repository.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(ai): add image service interface
  backend/src/features/ai/services/image.service.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(ai): implement curator service with gateway
  backend/src/features/ai/services/curator.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(ai): add comprehensive unit and integration tests
  backend/src/features/ai/repositories/ai-settings.repository.interface.ts
  backend/src/features/ai/repositories/ai-settings.repository.ts
  backend/src/features/ai/repositories/embedding.repository.interface.ts
  backend/src/features/ai/repositories/embedding.repository.ts
  backend/src/features/ai/services/curator.service.interface.ts
  backend/src/features/ai/services/curator.service.ts
  backend/src/features/ai/services/embedding.service.interface.ts
  backend/src/features/ai/services/embedding.service.ts
  backend/src/features/ai/services/image.service.interface.ts
  backend/src/features/ai/services/image.service.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/tests/integration/features/ai/ai.integration.test.ts
  backend/tests/unit/features/ai/repositories/ai-settings.repository.test.ts
  backend/tests/unit/features/ai/repositories/embedding.repository.test.ts
  backend/tests/unit/features/ai/services/curator.service.test.ts
  backend/tests/unit/features/ai/services/embedding.service.test.ts
  backend/tests/unit/features/ai/services/image.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(ai): add ai dtos with zod validation
  backend/src/features/ai/dtos/ai.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(ai): add embedding repository interface
  backend/src/features/ai/repositories/embedding.repository.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(ai): add gateway service unit tests
  backend/tests/unit/features/ai/services/gateway.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add user type to ai controller context
  backend/src/features/ai/controllers/ai.controller.interface.ts
  backend/src/features/ai/controllers/ai.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add hono authentication middleware
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/middleware/auth.middleware.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
