Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

chore: add sisyphus to gitignore
  .gitignore
Due: none

chore: ignore plans
  .gitignore
Due: none

chore: claude and formatting for files (will be improved later)
  CLAUDE.md
  backend/src/services/ai/model-router.ts
  backend/src/services/ai/service.ts
  docs/testing/gateway-refactor-verification.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

chore: improve claude files
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: prettier --write

chore: add di architecture dependencies
  backend/bun.lock
  backend/package.json
Due: none

feat: add shared domain error classes
  backend/src/shared/errors/base.ts
  backend/tests/unit/shared/errors/base.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add pino-based logger infrastructure
  backend/src/infrastructure/logging/logger.ts
  backend/tests/unit/infrastructure/logging/logger.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add prometheus metrics infrastructure
  backend/src/infrastructure/metrics/metrics.ts
  backend/tests/unit/infrastructure/metrics/metrics.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add database connection infrastructure
  backend/src/infrastructure/database/connection.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add auth domain interfaces
  backend/src/features/auth/repositories/user.repository.interface.ts
  backend/src/features/auth/services/auth.service.interface.ts
  backend/src/features/auth/services/password-hasher.interface.ts
  backend/src/features/auth/services/token.service.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement user repository with di
  backend/src/features/auth/repositories/user.repository.interface.ts
  backend/src/features/auth/repositories/user.repository.ts
  backend/src/features/auth/services/auth.service.interface.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/unit/features/auth/repositories/user.repository.test.ts
  backend/tsconfig.json
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement password hasher service
  backend/src/features/auth/services/password-hasher.ts
  backend/tests/unit/features/auth/services/password-hasher.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement jwt token service
  backend/src/features/auth/services/token.service.ts
  backend/tests/unit/features/auth/services/token.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement auth service with business logic
  backend/src/features/auth/services/auth.service.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/tests/unit/features/auth/services/auth.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add auth dtos with zod validation
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add auth controller with openapi routes
  backend/eslint.config.mjs
  backend/src/features/auth/controllers/auth.controller.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
  bun.lock
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: setup di container with auth dependencies
  backend/src/container/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: create hono app with middleware and routes
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/middleware/cors.middleware.ts
  backend/src/infrastructure/http/middleware/error.middleware.ts
  backend/src/infrastructure/http/middleware/metrics.middleware.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add new hono-based entry point with di container
  backend/src/container/index.ts
  backend/src/index-new.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add auth integration tests
  backend/package.json
  backend/tests/integration/features/auth/auth.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add di patterns documentation
  backend/docs/architecture/di-patterns.md
Due: prettier --write

feat: add legacy routes proxy for gradual migration
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: replace index.ts with hono-based server, remove duplicate
  backend/src/index-new.ts
  backend/src/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: file formatting
  backend/src/container/index.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/auth/dtos/auth.dto.ts
  backend/src/features/auth/repositories/user.repository.interface.ts
  backend/src/features/auth/repositories/user.repository.ts
  backend/src/features/auth/services/auth.service.interface.ts
  backend/src/features/auth/services/auth.service.ts
  backend/src/features/auth/services/password-hasher.interface.ts
  backend/src/features/auth/services/password-hasher.ts
  backend/src/features/auth/services/token.service.interface.ts
  backend/src/features/auth/services/token.service.ts
  backend/src/index.ts
  backend/src/infrastructure/database/connection.ts
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/middleware/cors.middleware.ts
  backend/src/infrastructure/http/middleware/error.middleware.ts
  backend/src/infrastructure/http/middleware/metrics.middleware.ts
  backend/src/infrastructure/logging/logger.ts
  backend/src/infrastructure/metrics/metrics.ts
  backend/src/shared/errors/base.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/src/tests/helpers/repository.mocks.ts
  backend/tests/integration/features/auth/auth.integration.test.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
  backend/tests/unit/features/auth/repositories/user.repository.test.ts
  backend/tests/unit/features/auth/services/auth.service.test.ts
  backend/tests/unit/features/auth/services/password-hasher.test.ts
  backend/tests/unit/features/auth/services/token.service.test.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
  backend/tests/unit/infrastructure/logging/logger.test.ts
  backend/tests/unit/infrastructure/metrics/metrics.test.ts
  backend/tests/unit/shared/errors/base.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: fixing issues from coderabbit pt1
  backend/CLAUDE.md
  backend/package.json
  backend/src/container/index.ts
  backend/src/features/auth/dtos/auth.dto.ts
  backend/src/infrastructure/database/connection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

chore: coderabbit issues pt2
  backend/src/container/index.ts
  backend/tests/integration/features/auth/auth.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: coderabbit issues pt3 - inconsistent types
  backend/src/features/auth/repositories/user.repository.interface.ts
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/types/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: bun dep bump
  backend/bun.lock
  backend/package.json
Due: none

chore: move pino-pretty to devdeps
  backend/bun.lock
  backend/package.json
Due: none

fix: add type annotation to auth
  backend/src/container/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: change z.string.email() to z.email()
  backend/src/features/auth/dtos/auth.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: validate if user is empty or undefined and throw error
  backend/src/features/auth/repositories/user.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: code duplication for user type
  backend/src/features/auth/repositories/user.repository.interface.ts
  backend/src/features/auth/repositories/user.repository.ts
  backend/src/features/auth/services/auth.service.interface.ts
  backend/src/features/auth/services/auth.service.ts
  backend/src/features/auth/types.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove unneeded code validation from auth
  backend/src/features/auth/services/auth.service.ts
  backend/tests/unit/features/auth/services/auth.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: make bcrypt salt rounds configurable via environment variable
  backend/.env.example
  backend/src/container/index.ts
  backend/src/features/auth/services/password-hasher.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: initialize database connection in constructor for testability
  backend/src/container/index.ts
  backend/src/infrastructure/database/connection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

perf: cache legacy router import to avoid repeated module loading
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: log errors in database health check instead of silently swallowing them
  backend/src/infrastructure/database/connection.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

perf: resolve metrics service once at app creation instead of per-request
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: validate cors origin with url constructor
  backend/src/infrastructure/http/middleware/cors.middleware.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
