Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

fix(GameAchievements): use cn() and fix text-base color issues
  frontend/src/components/GameAchievements.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: remove ai code from collections route
  backend/src/routes/collections.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(mobilenav): use cn() for getnavlinkclass
  frontend/src/components/layout/MobileNav.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(navbar): use cn() and semantic duration tokens
  frontend/src/components/layout/Navbar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(sidebar): add aria-hidden to decorative svgs
  frontend/src/components/layout/Sidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(sessionshistory): fix text-base color issues
  frontend/src/components/SessionsHistory.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: add duration-standard and cn() utility to sidebar components
  frontend/src/components/sidebar/AICuratorSidebar.tsx
  frontend/src/components/sidebar/CollectionDetailSidebar.tsx
  frontend/src/components/sidebar/DashboardSidebar.tsx
  frontend/src/components/sidebar/GameDetailSidebar.tsx
  frontend/src/components/sidebar/ImportSidebar.tsx
  frontend/src/components/sidebar/LibrarySidebar.tsx
  frontend/src/components/sidebar/PlatformsSidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(TextDisplay): fix polymorphic component typing
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(GameCard): add duration-standard to all transitions
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(Activity): add duration-standard and improve hover feedback
  frontend/src/pages/Activity.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(AICurator): fix hover feedback and text-base color
  frontend/src/pages/AICurator.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(FranchiseDetail): use semantic status token and fix hover feedback
  frontend/src/pages/Collections.tsx
  frontend/src/pages/FranchiseDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(import): use cn() and fix text-base color issues
  frontend/src/pages/Import.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(platform-detail): add visible hover feedback to edit button
  frontend/src/pages/Library.tsx
  frontend/src/pages/PlatformDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix(settings): fix error text styling consistency
  frontend/src/pages/Settings.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: remove ai tables and enums from schema
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: add migration to drop ai tables
  backend/drizzle/0024_gateway_refactor.sql
  backend/drizzle/0024_public_gorilla_man.sql
  backend/drizzle/meta/0024_snapshot.json
  backend/drizzle/meta/_journal.json
Due: none

chore: remove ai dependencies
  backend/bun.lock
  backend/package.json
Due: none

chore: switch from pgvector to standard postgres image
  docker-compose.yml
Due: none

docs: remove ai references from deploy readme
  deploy/README.md
Due: prettier --write

docs: remove ai curator documentation
  docs/ai-curator-settings/README.md
  docs/ai-curator-settings/openai.md
Due: prettier --write

docs: remove ai reference from docs claude.md
  docs/CLAUDE.md
Due: prettier --write

docs: remove ai references from backend claude.md
  backend/CLAUDE.md
Due: prettier --write

docs: remove ai references from frontend claude.md
  frontend/CLAUDE.md
Due: prettier --write

chore: remove trailing newlines from schema and collections
  backend/src/db/schema.ts
  backend/src/routes/collections.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use distinct semantic rarity colors in achievementwidget
  frontend/src/components/AchievementWidget.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: replace hardcoded yellow-400 with semantic achievement token in activityfeed
  frontend/src/components/ActivityFeed.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: use cn() utility instead of string concatenation in customplatformmodal
  frontend/src/components/CustomPlatformModal.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-quick to editionownership chevron transition
  frontend/src/components/EditionOwnership.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to collectionfilter transition
  frontend/src/components/filters/CollectionFilter.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to franchisepreview image transitions
  frontend/src/components/FranchisePreview.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: update logger to use no-arg constructor pattern
  backend/src/infrastructure/logging/logger.ts
  backend/tests/unit/features/auth/controllers/auth.controller.test.ts
  backend/tests/unit/infrastructure/database/connection.test.ts
  backend/tests/unit/infrastructure/logging/logger.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: use cn() utility and remove redundant hover states in sidebar
  frontend/src/components/GameAchievements.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: remove incorrect text-base font-size utility from button
  frontend/src/components/RawgIdCorrection.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: remove conflicting font size in sessions history
  frontend/src/components/SessionsHistory.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to interactive elements in collection detail sidebar
  frontend/src/components/sidebar/CollectionDetailSidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard and remove redundant hover state in franchise detail sidebar
  frontend/src/components/sidebar/FranchiseDetailSidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration-standard to sidebar interactive elements
  frontend/src/components/sidebar/FranchisesSidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: replace text-base with semantic color in platform onboarding sidebar
  frontend/src/components/sidebar/PlatformOnboardingSidebar.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add semantic text color to start session button
  frontend/src/components/StartSessionButton.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
