Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

docs(rawg): update header to reflect actual api surface
  backend/src/services/rawg.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(games): add status tests for playing, finished, and completed
  backend/tests/integration/features/games/games.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(games): extract insert mock helper and fix delete tests
  backend/tests/unit/features/games/repositories/user-game-progress.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: address additional code review feedback
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add validation test and fix mock type generics
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat(stores): add store dto schemas
  backend/src/features/stores/dtos/store.dto.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): add store service interface
  backend/src/features/stores/services/store.service.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): add store service implementation
  backend/src/features/stores/services/store.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): add store controller interface
  backend/src/features/stores/controllers/store.controller.interface.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): register store service and controller in di container
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/stores/controllers/store.controller.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): mount stores routes in di app
  backend/src/infrastructure/http/app.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat(stores): update feature exports
  backend/src/features/stores/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(stores): add store service unit tests
  backend/tests/unit/features/stores/services/store.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(stores): add store controller unit tests
  backend/tests/unit/features/stores/controllers/store.controller.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test(stores): add store integration tests
  backend/tests/integration/features/stores/stores.integration.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: regenerate openapi schema with stores endpoints
  backend/openapi.json
Due: none

fix: prettier issues
  backend/src/features/stores/controllers/store.controller.interface.ts
  backend/src/features/stores/index.ts
  backend/src/features/stores/services/store.service.interface.ts
  backend/tests/unit/features/games/repositories/user-game-progress.repository.test.ts
  backend/tests/unit/features/stores/controllers/store.controller.test.ts
  backend/tests/unit/features/stores/services/store.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): add order by to user-games list for deterministic results
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/tests/helpers/drizzle.mocks.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix(games): add order by to list-by-user for deterministic pagination
  backend/src/features/games/repositories/user-game.repository.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: implement B5 cleanup and legacy removal (#51)
  backend/openapi.json
  backend/src/container/index.ts
  backend/src/container/tokens.ts
  backend/src/features/games/controllers/games.controller.ts
  backend/src/features/games/dtos/index.ts
  backend/src/features/games/dtos/user-game-progress.dto.ts
  backend/src/features/games/repositories/index.ts
  backend/src/features/games/repositories/user-game-progress.repository.interface.ts
  backend/src/features/games/repositories/user-game-progress.repository.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/stores/controllers/store.controller.interface.ts
  backend/src/features/stores/controllers/store.controller.ts
  backend/src/features/stores/dtos/store.dto.ts
  backend/src/features/stores/index.ts
  backend/src/features/stores/services/store.service.interface.ts
  backend/src/features/stores/services/store.service.ts
  backend/src/index.ts
  backend/src/infrastructure/http/app.ts
  backend/src/routes/games.ts
  backend/src/routes/user-platforms.ts
  backend/src/services/rawg.ts
  backend/src/tests/helpers/drizzle.mocks.ts
  backend/tests/integration/features/games/games.integration.test.ts
  backend/tests/integration/features/stores/stores.integration.test.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  backend/tests/unit/features/games/repositories/user-game-progress.repository.test.ts
  backend/tests/unit/features/games/repositories/user-game.repository.test.ts
  backend/tests/unit/features/stores/controllers/store.controller.test.ts
  backend/tests/unit/features/stores/services/store.service.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

test: add stores sdk mock functions
  frontend/src/test/mocks/api.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add store type adapters for sdk migration
  frontend/src/shared/api/adapters/__tests__/stores.test.ts
  frontend/src/shared/api/adapters/stores.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add store type adapters for sdk migration
  frontend/src/shared/api/adapters/__tests__/stores.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: migrate storesservice to generated sdk
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: update storesservice tests to use sdk mocks
  frontend/src/shared/api/__tests__/services.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: export stores adapters from barrel file
  frontend/src/shared/api/adapters/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: regenerate frontend sdk with stores endpoints
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: address coderabbit review feedback
  frontend/CLAUDE.md
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/shared/api/services.ts
  frontend/src/shared/types/__tests__/games.test.ts
  frontend/src/shared/types/games.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

fix: trim credentials before submit and narrow update request type
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/shared/api/__tests__/services.test.ts
  frontend/src/shared/api/services.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: address coderabbit review feedback for form and test improvements
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
  frontend/src/features/library/hooks/__tests__/useGames.test.tsx
  frontend/src/shared/api/__tests__/services.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add error propagation tests for platforms service
  frontend/src/shared/api/__tests__/services.test.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: formatting
  frontend/src/features/credentials/components/IGDBCredentialsForm.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: correct api client base url to prevent protocol-relative urls
  frontend/src/lib/api/auth.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: use actual oauth expires_in for token expiry calculation
  backend/src/features/credentials/services/credential.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add authtag length option to prevent aes-gcm deprecation warning
  backend/src/features/credentials/services/encryption.service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add explicit types to zustand store selectors
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/shared/stores/credentialsStore.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: include igdb_id in user game response
  backend/openapi.json
  backend/src/features/games/dtos/user-game.dto.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/types.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/generated/types.gen.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: address credential validation, type safety, and IGDB ID propagation issues (#52)
  backend/openapi.json
  backend/src/features/credentials/services/credential.service.ts
  backend/src/features/credentials/services/encryption.service.ts
  backend/src/features/games/dtos/user-game.dto.ts
  backend/src/features/games/repositories/user-game.repository.ts
  backend/src/features/games/types.ts
  backend/tests/unit/features/games/controllers/games.controller.test.ts
  frontend/src/features/credentials/hooks/useCredentials.ts
  frontend/src/pages/ImportIGDB.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/shared/api/adapters/games.ts
  frontend/src/shared/api/generated/types.gen.ts
  frontend/src/shared/stores/credentialsStore.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
