Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun run typecheck, eslint --fix

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "prettier --write",
    "bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

refactor: migrate to Drizzle ORM and add achievements page
  .env.example
  CONTRIBUTING.md
  Makefile
  README.md
  backend/.env.local
  backend/MIGRATIONS.md
  backend/bun.lock
  backend/drizzle.config.ts
  backend/drizzle/0000_long_masque.sql
  backend/drizzle/0001_parched_microbe.sql
  backend/drizzle/meta/0000_snapshot.json
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/init.sql
  backend/package.json
  backend/schema.sql
  backend/src/config.ts
  backend/src/db/index.ts
  backend/src/db/schema.ts
  backend/src/db/seed.ts
  backend/src/env.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/cors.ts
  backend/src/routes/achievements.ts
  backend/src/services/db.ts
  backend/src/services/rawg.ts
  backend/src/services/redis.ts
  backend/test-db.ts
  backend/tsconfig.tsbuildinfo
  docker-compose.yml
  docs/local-setup.md
  docs/schema.sql
  frontend/.env.development
  frontend/.env.docker
  frontend/src/components/GameAchievements.tsx
  frontend/src/config.ts
  frontend/src/lib/api.ts
  frontend/src/pages/GameDetail.tsx
  frontend/vite.config.ts
Due: prettier --write, bun run typecheck, eslint --fix

feat: add playtime tracking with heatmaps and activity feed
  backend/drizzle/0002_colorful_swarm.sql
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/index.ts
  backend/src/routes/completion-logs.ts
  backend/src/routes/games.ts
  backend/src/routes/sessions.ts
  backend/src/routes/stats.ts
  backend/tests/unit/middleware/cors.test.ts
  backend/tsconfig.tsbuildinfo
  frontend/src/components/ActivityFeed.tsx
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/CompletionProgressTracker.tsx
  frontend/src/components/CustomFieldsEditor.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/PlatformIcon.tsx
  frontend/src/components/PlaySessionTracker.tsx
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Import.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, bun run typecheck, eslint --fix

feat: add progress tracking and DLC ownership
  backend/drizzle/0003_material_slyde.sql
  backend/drizzle/0004_jittery_hex.sql
  backend/drizzle/0005_loving_mystique.sql
  backend/drizzle/0006_secret_ultragirl.sql
  backend/drizzle/0007_panoramic_reaper.sql
  backend/drizzle/0008_soft_hedge_knight.sql
  backend/drizzle/0009_special_phalanx.sql
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/0005_snapshot.json
  backend/drizzle/meta/0006_snapshot.json
  backend/drizzle/meta/0007_snapshot.json
  backend/drizzle/meta/0008_snapshot.json
  backend/drizzle/meta/0009_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/index.ts
  backend/src/routes/achievements.ts
  backend/src/routes/additions.ts
  backend/src/routes/collections.ts
  backend/src/routes/completion-logs.ts
  backend/src/routes/editions.ts
  backend/src/routes/games.ts
  backend/src/routes/import.ts
  backend/src/routes/ownership.ts
  backend/src/routes/sessions.ts
  backend/src/services/rawg.ts
  backend/tsconfig.tsbuildinfo
  frontend/src/components/CompletionProgressTracker.tsx
  frontend/src/components/CustomFieldsEditor.tsx
  frontend/src/components/EditionOwnership.tsx
  frontend/src/components/EditionSwitcher.tsx
  frontend/src/components/GameAchievements.tsx
  frontend/src/components/ProgressDisplay.tsx
  frontend/src/components/ProgressHistory.tsx
  frontend/src/components/SessionsHistory.tsx
  frontend/src/components/StartSessionButton.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, bun run typecheck, eslint --fix

feat: add currently playing carousel and collapsible sidebars
  backend/src/routes/sessions.ts
  backend/tsconfig.tsbuildinfo
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/layout/PageLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/sidebar/GameDetailSidebar.tsx
  frontend/src/components/sidebar/LibrarySidebar.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, bun run typecheck, eslint --fix

chore: prepare v1.0.0 release
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CLAUDE.md
  LICENSE
  Makefile
  README.md
  backend/package.json
  backend/src/services/ai/service.ts
  deploy/.env.example
  deploy/README.md
  deploy/config/caddy/Caddyfile
  deploy/config/nginx/nginx.conf
  deploy/config/traefik/traefik.yml
  deploy/docker-compose.caddy.yml
  deploy/docker-compose.traefik.yml
  deploy/docker-compose.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/deployment-caddy.md
  docs/deployment-nginx.md
  docs/deployment-traefik.md
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  package.json
  release-please-config.json
Due: prettier --write, bun run typecheck

fix: various UI and UX improvements
  backend/src/routes/games.ts
  frontend/src/components/GameCard.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Library.tsx
Due: prettier --write, bun run typecheck, eslint --fix

feat: add AI image generation for collection covers
  backend/src/routes/ai.ts
  backend/src/routes/collections.ts
  backend/src/services/ai/cache.ts
  backend/src/services/ai/models.ts
  backend/src/services/ai/prompts.ts
  backend/src/services/ai/service.ts
  backend/uploads/.gitignore
  backend/uploads/collection-covers/.gitkeep
  docs/ai-curator-settings/lmstudio.md
  docs/ai-curator-settings/ollama.md
  docs/ai-curator-settings/openai.md
  docs/ai-curator-settings/openrouter.md
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/sidebar/AICuratorSidebar.tsx
  frontend/src/components/sidebar/FranchiseDetailSidebar.tsx
  frontend/src/components/sidebar/index.ts
  frontend/src/lib/api.ts
  frontend/src/pages/AICurator.tsx
  frontend/src/pages/CollectionDetail.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/FranchiseDetail.tsx
  frontend/src/pages/Settings.tsx
Due: prettier --write, bun run typecheck, eslint --fix

feat: add Activity page and UX improvements
  .gitignore
  backend/bun.lock
  backend/package.json
  backend/src/routes/achievements.ts
  backend/src/routes/auth.ts
  backend/src/routes/completion-logs.ts
  backend/src/routes/stats.ts
  backend/src/services/rawg.ts
  backend/src/types/index.ts
  docker-compose.yml.bak
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ActivityFeed.tsx
  frontend/src/components/EditionSwitcher.tsx
  frontend/src/components/GameAchievements.tsx
  frontend/src/components/GameCard.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/PlatformIcon.tsx
  frontend/src/components/PlatformTypeIcon.tsx
  frontend/src/components/ProgressDisplay.tsx
  frontend/src/components/ProgressHistory.tsx
  frontend/src/components/SessionsHistory.tsx
  frontend/src/components/layout/MobileNav.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/sidebar/LibrarySidebar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/pages/Activity.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/GameDetail.tsx
  frontend/src/pages/Import.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PlatformDetail.tsx
  frontend/src/pages/Register.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/activity.tsx
  start.sh
Due: prettier --write, bun run typecheck, eslint --fix

feat: improve release automation and documentation
  .github/workflows/manual-release.yml
  .release-please-manifest.json
  CONTRIBUTING.md
  README.md
  deploy/README.md
  deploy/docker-compose.caddy.yml
  deploy/docker-compose.traefik.yml
  deploy/docker-compose.yml
  docs/deployment-caddy.md
  docs/deployment-nginx.md
  docs/deployment-traefik.md
  docs/release-process.md
  release-please-config.json
Due: prettier --write

fix: remove extra-files with invalid paths from release-please config
  release-please-config.json
Due: prettier --write

fix: add actions:read permission and upgrade CodeQL to v4
  .github/workflows/docker.yml
Due: none

docs: add linear git history and release-please practices
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix: add actions:read permission to release-please workflow
  .github/workflows/release-please.yml
Due: none

refactor: simplify deployment to nginx-only setup
  README.md
  deploy/.env.example
  deploy/README.md
  deploy/config/caddy/Caddyfile
  deploy/config/nginx/nginx.conf
  deploy/config/traefik/traefik.yml
  deploy/docker-compose.caddy.yml
  deploy/docker-compose.traefik.yml
  deploy/docker-compose.yml
  docs/deployment-caddy.md
  docs/deployment-traefik.md
Due: prettier --write

fix: simplify deployment to nginx-only setup (#6)
  README.md
  deploy/.env.example
  deploy/README.md
  deploy/config/caddy/Caddyfile
  deploy/config/nginx/nginx.conf
  deploy/config/traefik/traefik.yml
  deploy/docker-compose.caddy.yml
  deploy/docker-compose.traefik.yml
  deploy/docker-compose.yml
  docs/deployment-caddy.md
  docs/deployment-traefik.md
Due: prettier --write

fix: copy drizzle migrations folder in Docker build
  backend/Dockerfile
Due: none

fix: copy drizzle migrations folder in Docker build (#7)
  backend/Dockerfile
Due: none

docs: reorganize CLAUDE.md into modular structure
  .gitignore
  AGENTS.md
  CLAUDE.md
  backend/AGENTS.md
  backend/CLAUDE.md
  docs/AGENTS.md
  docs/CLAUDE.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
Due: prettier --write

docs: reorganize CLAUDE.md into modular structure (#9)
  .gitignore
  AGENTS.md
  CLAUDE.md
  backend/AGENTS.md
  backend/CLAUDE.md
  docs/AGENTS.md
  docs/CLAUDE.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
Due: prettier --write

fix: problematic healthcheck and security code validation
  backend/Dockerfile
  deploy/docker-compose.yml
  frontend/Dockerfile
Due: none

fix: problematic healthcheck and security code validation (#10)
  backend/Dockerfile
  deploy/docker-compose.yml
  frontend/Dockerfile
Due: none

chore: add editorconfig and commitlint
  .editorconfig
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

docs: add JSDoc documentation to database and auth functions
  backend/src/middleware/auth.ts
  backend/src/services/db.ts
Due: prettier --write, bun run typecheck

chore: upgrade ESLint rules to error level
  backend/eslint.config.mjs
Due: none

fix: remaining issues from eslint
  backend/src/db/index.ts
  backend/src/db/seed.ts
  backend/src/index.ts
  backend/src/lib/router.ts
  backend/src/services/rawg.ts
  backend/tests/unit/lib/router.test.ts
Due: prettier --write, bun run typecheck

fix: husky weird pre-commits
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: missing claude.md ignore on prettier
  backend/.prettierignore
Due: none

chore: improve claude.md to follow formatting/linting rules
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: prettier --write

feat(frontend): add shadcn/ui and form dependencies
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
Due: prettier --write, eslint --fix

feat(frontend): add utility modules
  frontend/src/lib/auth-storage.ts
  frontend/src/lib/cn.ts
  frontend/src/lib/utils.ts
  frontend/src/router-context.ts
Due: prettier --write, eslint --fix

refactor(frontend): modularize api layer into domain modules
  frontend/src/lib/api.ts
  frontend/src/lib/api/additions.ts
  frontend/src/lib/api/ai.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/axios.ts
  frontend/src/lib/api/collections.ts
  frontend/src/lib/api/completion-logs.ts
  frontend/src/lib/api/display-edition.ts
  frontend/src/lib/api/franchises.ts
  frontend/src/lib/api/games.ts
  frontend/src/lib/api/import.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/ownership.ts
  frontend/src/lib/api/platforms.ts
  frontend/src/lib/api/preferences.ts
  frontend/src/lib/api/sessions.ts
  frontend/src/lib/api/stats.ts
  frontend/src/lib/api/user-platforms.ts
Due: prettier --write, eslint --fix
