Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

docs: update ai curator settings for openai only
  docs/ai-curator-settings/README.md
  docs/ai-curator-settings/lmstudio.md
  docs/ai-curator-settings/ollama.md
  docs/ai-curator-settings/openrouter.md
Due: prettier --write

feat: add selectfield component for dropdown with metadata
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/select-field.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: improve settings ui with conditional rendering
  frontend/src/pages/Settings.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add provider info display to ai curator
  frontend/src/pages/AICurator.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: clear query cache on logout to prevent data leakage
  frontend/src/contexts/AuthContext.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: mark drizzle meta files as generated in gitattributes
  .gitattributes
Due: none

feat: simplify ai providers to openai only (#23)
  .gitattributes
  backend/CLAUDE.md
  backend/drizzle/0017_watery_karnak.sql
  backend/drizzle/meta/0017_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/routes/ai.ts
  backend/src/services/ai/models.ts
  backend/src/services/ai/service.ts
  docs/ai-curator-settings/README.md
  docs/ai-curator-settings/lmstudio.md
  docs/ai-curator-settings/ollama.md
  docs/ai-curator-settings/openrouter.md
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/select-field.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AICurator.tsx
  frontend/src/pages/Settings.tsx
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

feat: add bulk collection creation with multi-selection
  frontend/src/pages/AICurator.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: reduce openai safety rejections for game cover generation
  backend/src/services/ai/prompts.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: alert dialog z-index to appear above parent dialogs
  frontend/src/components/ui/alert-dialog.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: exclude drizzle migration metadata from diffs
  .gitattributes
Due: none

fix: ai curator improvements (#24)
  .gitattributes
  backend/src/services/ai/prompts.ts
  backend/src/services/ai/service.ts
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/pages/AICurator.tsx
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: add .worktrees to gitignore
  .gitignore
Due: none

chore: add vercel ai sdk dependencies
  backend/bun.lock
  backend/package.json
Due: none

feat: add vercel ai sdk client factory
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: add vercel client to suggestCollections
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: use vercel ai sdk in suggestCollections
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

docs: add migration plan with corrected api property names
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
Due: prettier --write

refactor: use vercel ai sdk in suggestNextGame
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: update image client to vercel ai sdk
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: use vercel ai sdk for image generation
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use vercel ai sdk generateImage api correctly
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: replace model discovery with hardcoded list
  backend/src/routes/ai.ts
  backend/src/services/ai/models.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

chore: remove openai sdk dependency
  backend/bun.lock
  backend/package.json
Due: none

fix: only include quality/style params for dall-e models
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: remove eslint-disable comments and use proper types
  backend/src/services/ai/models.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: migrate from openai sdk to vercel ai sdk (#25)
  .gitignore
  backend/bun.lock
  backend/package.json
  backend/src/routes/ai.ts
  backend/src/services/ai/models.ts
  backend/src/services/ai/service.ts
  docs/plans/2026-01-07-vercel-ai-sdk-migration-phase1.md
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, prettier --write

docs: add phase 2 embeddings infrastructure implementation plan
  docs/plans/2026-01-08-embeddings-infrastructure.md
Due: prettier --write

feat: add pgvector dependency for embeddings support
  backend/bun.lock
  backend/package.json
Due: none

feat: add game_embeddings table with pgvector support
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add collection_embeddings table
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add achievement_embeddings table
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add user_preference_embeddings table
  backend/src/db/schema.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: generate pgvector migrations for embedding tables
  backend/drizzle/0018_early_micromax.sql
  backend/drizzle/0019_bored_hammerhead.sql
  backend/drizzle/0020_optimal_talkback.sql
  backend/drizzle/0021_oval_mandrill.sql
  backend/drizzle/meta/0018_snapshot.json
  backend/drizzle/meta/0019_snapshot.json
  backend/drizzle/meta/0020_snapshot.json
  backend/drizzle/meta/0021_snapshot.json
  backend/drizzle/meta/_journal.json
Due: none

feat: add embeddings cache service with redis
  backend/src/services/ai/embeddings-cache.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add embeddings generation service with caching
  backend/src/services/ai/embeddings.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add vector similarity search service
  backend/src/services/ai/embeddings.ts
  backend/src/services/ai/vector-search.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add embedding background jobs service
  backend/src/services/ai/embedding-jobs.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: add embeddings generation api endpoints
  backend/src/routes/ai.ts
  backend/src/services/ai/service.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add error handling to embeddings endpoints
  backend/src/routes/ai.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

Path conditions:
  cd backend && prettier --write: any of: backend/**/*.{ts,js}
  cd backend && bunx eslint --fix --config eslint.config.mjs: any of: backend/**/*.{ts,js}
  cd backend && bun run typecheck: any of: backend/**/*.{ts,js}
  cd frontend && npx prettier --write --ignore-path .prettierignore: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npx eslint --fix --config eslint.config.mjs: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.md
