Repository dalssaso/mymemorycard: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && prettier --write",
    "cd backend && bunx eslint --fix --config eslint.config.mjs",
    "cd backend && bun run typecheck"
  ],
  "frontend/**/*.{ts,tsx,js,jsx,json}": [
    "cd frontend && npx prettier --write --ignore-path .prettierignore",
    "cd frontend && npx eslint --fix --config eslint.config.mjs",
    "cd frontend && npm run typecheck"
  ],
  "*.md": ["prettier --write"]
}

refactor: use cn() utility for password validation message in register
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add transition duration to series detail game name hover state
  frontend/src/pages/SeriesDetail.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

test: add integration test setup with migrations and seeding
  backend/package.json
  backend/src/db/index.ts
  backend/tests/setup/integration.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use beforeall for integration setup to avoid dns timing issues
  backend/tests/setup/integration.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

refactor: add safe prop validation in textdisplay component
  frontend/src/components/ui/text-display.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration token to gamecard title transition
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add retry logic for integration test migrations to handle ci dns timing
  backend/tests/setup/integration.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: add null-check for status config in gamecard
  frontend/src/design-system/patterns/GameCard.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: increase beforeall timeout to 60s for migration retries in ci
  backend/tests/setup/integration.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: update library selection card hover border color
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration token to library backbutton transition
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add duration token to library table row transition
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: use status-driven badge styling in library selection mode
  frontend/src/pages/Library.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: add port mapping for service containers and use localhost in ci
  .github/workflows/ci.yml
Due: none

fix: add transition duration to register login link
  frontend/src/pages/Library.tsx
  frontend/src/pages/Register.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

docs: clarify ci service container configuration in test setup
  backend/tests/setup/integration.setup.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

fix: use pgvector postgres image for ci to support vector extension migrations
  .github/workflows/ci.yml
Due: none

fix: make vector extension migrations safe for postgres without pgvector
  backend/drizzle/0018_early_micromax.sql
  backend/drizzle/0019_bored_hammerhead.sql
  backend/drizzle/0020_optimal_talkback.sql
  backend/drizzle/0021_oval_mandrill.sql
  backend/drizzle/0024_public_gorilla_man.sql
Due: none

fix: revert to postgres:16-alpine since migrations now handle missing pgvector
  .github/workflows/ci.yml
Due: none

refactor(frontend): remove ai api module
  frontend/src/lib/api/ai.ts
  frontend/src/lib/api/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai hooks
  frontend/src/hooks/useAIModels.ts
  frontend/src/hooks/useAISettings.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai curator page and route
  frontend/src/pages/AICurator.tsx
  frontend/src/routes/ai-curator.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai curator sidebar
  frontend/src/components/sidebar/AICuratorSidebar.tsx
  frontend/src/components/sidebar/index.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai features from collections page
  frontend/src/pages/Collections.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai settings section from settings page
  frontend/src/pages/Settings.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai from collections route loader
  frontend/src/routes/collections.index.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor(frontend): remove ai curator navigation link and update route tree
  frontend/src/components/layout/Navbar.tsx
  frontend/src/routeTree.gen.ts
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

refactor: remove ai frontend (#36)
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/sidebar/AICuratorSidebar.tsx
  frontend/src/components/sidebar/index.ts
  frontend/src/hooks/useAIModels.ts
  frontend/src/hooks/useAISettings.ts
  frontend/src/lib/api/ai.ts
  frontend/src/lib/api/index.ts
  frontend/src/pages/AICurator.tsx
  frontend/src/pages/Collections.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/ai-curator.tsx
  frontend/src/routes/collections.index.tsx
Due: cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: standardize error response casing
  backend/src/features/auth/dtos/auth.dto.ts
  backend/src/infrastructure/http/middleware/error.middleware.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck

feat: version auth routes under api v1
  backend/src/infrastructure/http/app.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/axios.ts
  frontend/tests/unit/lib/api.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: add openapi generation workflow
  .github/workflows/ci.yml
  backend/openapi.json
  backend/package.json
  backend/src/infrastructure/http/openapi.ts
  backend/src/scripts/generate-openapi.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/api/generated/core/ApiError.ts
  frontend/src/shared/api/generated/core/ApiRequestOptions.ts
  frontend/src/shared/api/generated/core/ApiResult.ts
  frontend/src/shared/api/generated/core/CancelablePromise.ts
  frontend/src/shared/api/generated/core/OpenAPI.ts
  frontend/src/shared/api/generated/core/request.ts
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/services/AuthService.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: wire di auth me and openapi client
  backend/.prettierignore
  backend/openapi.json
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/auth/dtos/auth.dto.ts
  backend/tests/integration/features/auth/auth.integration.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/.prettierignore
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/shared/api/generated/services/AuthService.ts
  frontend/tests/unit/lib/api.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

docs: add architecture and api standards
  CLAUDE.md
  CONTRIBUTING.md
  backend/CLAUDE.md
  docs/architecture/guidelines.md
  frontend/CLAUDE.md
Due: prettier --write

fix: formatting
  backend/src/infrastructure/http/openapi.ts
  backend/src/scripts/generate-openapi.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/src/lib/api/auth.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

chore: update docs
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier --write

fix: resolve auth types and openapi defaults
  backend/src/features/auth/controllers/auth.controller.interface.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/infrastructure/http/openapi.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/src/lib/api/auth.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

fix: resolve lint issues in openapi defaults
  backend/src/infrastructure/http/openapi.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/src/shared/api/generated/index.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck

feat: refresh openapi and client generation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  backend/openapi.json
  backend/src/features/auth/controllers/auth.controller.interface.ts
  backend/src/features/auth/controllers/auth.controller.ts
  backend/src/features/auth/dtos/auth.dto.ts
  backend/src/infrastructure/http/app.ts
  backend/src/infrastructure/http/openapi.ts
  backend/src/scripts/generate-openapi.ts
  backend/tests/integration/features/auth/auth.integration.test.ts
  backend/tests/unit/infrastructure/http/error.middleware.test.ts
  backend/tests/unit/infrastructure/http/openapi.test.ts
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/axios.ts
  frontend/src/shared/api/generated/client.gen.ts
  frontend/src/shared/api/generated/core/ApiError.ts
  frontend/src/shared/api/generated/core/ApiRequestOptions.ts
  frontend/src/shared/api/generated/core/ApiResult.ts
  frontend/src/shared/api/generated/core/CancelablePromise.ts
  frontend/src/shared/api/generated/core/OpenAPI.ts
  frontend/src/shared/api/generated/core/request.ts
  frontend/src/shared/api/generated/index.ts
  frontend/src/shared/api/generated/sdk.gen.ts
  frontend/src/shared/api/generated/services/AuthService.ts
  frontend/src/shared/api/generated/types.gen.ts
  frontend/tests/unit/lib/api.test.ts
Due: cd backend && prettier --write, cd backend && bunx eslint --fix --config eslint.config.mjs, cd backend && bun run typecheck, cd frontend && npx prettier --write --ignore-path .prettierignore, cd frontend && npx eslint --fix --config eslint.config.mjs, cd frontend && npm run typecheck, prettier --write
